{% extends "layouts/main.html" %}

{% block pageTitle %}
What is your name? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/question-2" method="post">

      {{ govukInput({
      label: {
      text: "What is your name?",
      classes: "govuk-label--l",
      isPageHeading: true
      },
      id: "full-name",
      name: "fullName",
      autocomplete: "name"
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
        text: "Continue"
        }) }}

        {{ govukButton({
        text: "Save and exit",
        classes: "govuk-button--secondary",
        href: "/save-progress"
        }) }}
      </div>

    </form>

  </div>
</div>

{% endblock %}